#{extends 'main.html' /}
#{set title:'Nos compositions' /}

         <table>
            <tr>
               <td>
                  <table WIDTH="850px" BORDER="0" CELLPADDING="5" CELLSPACING="0">
                     <tr>
                        <td width="50%" valign="top">
                           <table BORDER="0" CELLPADDING="5" CELLSPACING="0">
                              <tr>
                                 <td>
		                              <span class="compositionShortDescriptionTitle">${composition.name}</span><br/><br/>
		                              <span class="compositionFullDescription">${composition.fullDescription}</span><br/>
                                 </td>
                              </tr>
	                           #{if composition.macaroonList.size()}
                                 <tr>
                                    <td>
                                       <table width="100%" border="0">
			                                 <tr align="center">
			                                   #{list items:composition.macaroonList, as:'macaroon'}
			                                       <td align="center">
			                                          <span>
			                                             ${macaroon.perfume}<br/>
			                                          </span>
			                                          <span>
			                                             <IMG SRC="/public/images/${macaroon.picture}" title="${macaroon.description}">
			                                          </span>
			                                       </td>
			                                   #{/list}
			                                 </tr>
                                       </table>
                                    </td>
                                 </tr>
	                           #{/if}
	                           #{else}
	                              <tr>
	                                 <td align="center">
	                                    Pas de macaron pour cette composition
	                                 </td>
	                              </tr>
	                           #{/else}
                              <tr>
                                 <td>
                                    <div class="showCompositionPrice">${composition.price} EUR/25 macarons (500g)</div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
	                                 <div class="showCompositionAddCart">
	                                    <select style="padding: 2px" name="compositionNumber">
	                                       <option value="1">1 boite de 25 macarons</option>
	                                       <option value="2">2 boites de 50 macarons</option>
	                                    </select>
	                                 </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div>
                                       <a href="#" onmousedown="$(document).ready(function() {$('#dialog').dialog({modal: true}, {width: 460});});">
                                          <img class="showCompositionAddCart" SRC="@{'/public/images/add-cart.jpg'}" ALT="" />
                                       </a>
                                    </div>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td width="5%">
                           <img SRC="@{'/public/images/sr1.jpg'}" ALT="">
                        </td>
                        <td width="45%" valign="top">
                           <table BORDER="0" CELLPADDING="0" CELLSPACING="0">
                              <tr>
                                 <span class="compositionShortDescriptionTitle">Nos compositions :</span><br/><br/>
                              </tr>
                              #{if compositions.size()}
                                 <tr>
                                    <td>
                                       <div style="overflow: scroll; height: 250px; width: 400px">
                                          <table>
                                             <tr>
                                                <td>
                                                   #{list items:compositions, as:'composition'}
                                                      <table>
                                                         <tr onMouseOver="this.style.background='#f4f4f4'" onmouseout="this.style.background='#ffffff'" >
                                                            <td align="left" valign="top">
                                                               <img width="50px" height="50px" src="/public/images/${composition.picture}" title="${composition.shortDescription}">
                                                            </td>
                                                            <td align="left" valign="top">
                                                               <span class="compositionShortDescriptionTitle">
                                                                  ${composition.name}<br/>
                                                               </span>
                                                               <span class="compositionFullDescription">
                                                                  ${composition.shortDescription}
					                                                   <a href="@{Compositions.show(composition.id)}" class="a">
					                                                      Voir le d&eacute;tail
					                                                   </a>
                                                               </span>
                                                            </td>
                                                         </tr>
                                                      </table>
                                                   #{/list}
                                                </td>
                                             </tr>
                                          </table>
                                       </div>
                                    </td>
                                 </tr>
                              #{/if}
                              #{else}
                                 <tr>
                                    <td align="center">
                                       Pas de composition &agrave; afficher pour cette composition
                                    </td>
                                 </tr>
                              #{/else}
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>

         <div id="dialog" title="Macaron-Factory" style="font-size: 14px; font-size:12px;">
            La commande par Internet sera disponible prochainement !<br/><br/>
            Vous pouvez n&eacute;anmoins commander par email ou par t&eacute;l&eacute;phone via la page <a href="@{Contact.index}" class="a">Contact</a>
         </div>
