<HTML>
   <HEAD>
      <TITLE>Bienvenue chez Macaron-Factory</TITLE>
      <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
      <SCRIPT TYPE="text/javascript">
         <!--
         function newImage(arg) {
            if (document.images) {
            rslt = new Image();
               rslt.src = arg;
               return rslt;
            }
         }

         function changeImages() {
            if (document.images && (preloadFlag == true)) {
               for (var i=0; i<changeImages.arguments.length; i+=2) {
                  document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
               }
            }
         }

         var preloadFlag = false;
         function preloadImages() {
            if (document.images) {
               home_page_over = newImage("@{'/public/images/home-page-over.jpg'}");
               about_us_over = newImage("@{'/public/images/about-us-over.jpg'}");
               products_over = newImage("@{'/public/images/products-over.jpg'}");
               contacts_over = newImage("@{'/public/images/contacts-over.jpg'}");
               preloadFlag = true;
            }
         }
         // -->
      </SCRIPT>
      <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/mf.css'}">
   </HEAD>

   <BODY BGCOLOR=#FFFFFF LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0" ONLOAD="preloadImages();">
      <CENTER>
         <!-- header -->
         <table id="header" WIDTH="850px" CELLPADDING="0" CELLSPACING="0">
            <tr height="60px" align="center">
               <td>
                  <A HREF="#" ONMOUSEOVER="window.status='home page'; changeImages('home_page', '@{'/public/images/home-page-over.jpg'}'); return true;" ONMOUSEOUT="window.status=''; changeImages('home_page', '@{'/public/images/home-page.jpg'}'); return true;">
                     <IMG NAME="home_page" SRC="@{'/public/images/home-page.jpg'}" WIDTH=95 HEIGHT=40 BORDER="0" ALT="home page" />
                  </A>
               </td>
               <td>
                  <A HREF="#" ONMOUSEOVER="window.status='products'; changeImages('products', '@{'/public/images/products-over.jpg'}'); return true;" ONMOUSEOUT="window.status=''; changeImages('products', '@{'/public/images/products.jpg'}'); return true;">
                     <IMG NAME="products" SRC="@{'/public/images/products.jpg'}" WIDTH=95 HEIGHT=40 BORDER="0" ALT="products" />
                  </A>
               </td>
               <td>
                  <A HREF="#" ONMOUSEOVER="window.status='about us'; changeImages('about_us', '@{'/public/images/about-us-over.jpg'}'); return true;" ONMOUSEOUT="window.status=''; changeImages('about_us', '@{'/public/images/about-us.jpg'}'); return true;">
                     <IMG NAME="about_us" SRC="@{'/public/images/about-us.jpg'}" WIDTH=95 HEIGHT=40 BORDER="0" ALT="about us">
                  </A>
               </td>
               <td>
                  <A HREF="#" ONMOUSEOVER="window.status='contacts'; changeImages('contacts', '@{'/public/images/contacts-over.jpg'}'); return true;" ONMOUSEOUT="window.status=''; changeImages('contacts', '@{'/public/images/contacts.jpg'}'); return true;">
                     <IMG NAME="contacts" SRC="@{'/public/images/contacts.jpg'}" WIDTH=95 HEIGHT=40 BORDER="0" ALT="contacts"/>
                  </A>
               </td>
            </tr>
         </table>

         <table id="main" WIDTH="850px" BORDER="0" CELLPADDING="0" CELLSPACING="0">
            <tr id="title" align="center">
               <td>
                  <table WIDTH="780px" BORDER="0" CELLPADDING="0" CELLSPACING="0">
                     <tr>
                        <td>
                           <IMG SRC="@{'/public/images/m2.jpg'}" WIDTH="425" HEIGHT="228" ALT=""/>
                        </td>
                        <td>
                           <table width="350px">
                              <tr>
                                 <td width="300px">
                                    <IMG SRC="@{'/public/images/m3.jpg'}" WIDTH=350 HEIGHT=120 ALT=""/>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text2" width="300px">
                                    <span class="text3">Imaginez une farandole de macarons,</span> aux parfums des plus classiques aux plus insolites. Notre gamme s'étend sur plus de trente variétés de produits différents. Le macaron étant pour nous une passion, nous nous efforçons de produire un met de qualité et investissons dans le meilleur de la matière première.<br/>
                                 </td>
                              </tr>
                              <tr>
                                 <td width="300px">
                                    <a href="#" class="a">En savoir plus</a>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>

         <br/>

         <table>
            <tr>
               <td>
                  <table WIDTH="850px" BORDER="0" CELLPADDING="5" CELLSPACING="0">
                     <tr>
                        <td width="50%" valign="top">
                           <table BORDER="0" CELLPADDING="5" CELLSPACING="0">
                              <tr>
                                 <td>
		                              <span class="compositionShortDescriptionTitle">${composition.name}</span><br/><br/>
		                              <span class="compositionFullDescription">${composition.fullDescription}</span><br/>
                                 </td>
                              </tr>
	                           #{if composition.macaroonList.size()}
                                 <tr>
                                    <td>
                                       <table width="100%" border="0">
			                                 <tr align="center">
			                                   #{list items:composition.macaroonList, as:'macaroon'}
			                                       <td align="center">
			                                          <span>
			                                             ${macaroon.perfume}<br/>
			                                          </span>
			                                          <span>
			                                             <IMG SRC="/public/images/${macaroon.picture}" title="${macaroon.description}">
			                                          </span>
			                                       </td>
			                                   #{/list}
			                                 </tr>
                                       </table>
                                    </td>
                                 </tr>
	                           #{/if}
	                           #{else}
	                              <tr>
	                                 <td align="center">
	                                    Pas de macaron pour cette composition
	                                 </td>
	                              </tr>
	                           #{/else}
                              <tr>
                                 <td>
                                    <div class="showCompositionPrice">${composition.price} EUR/25 macarons (500g)</div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
	                                 <div class="showCompositionAddCart">
	                                    <select style="padding: 2px" name="compositionNumber">
	                                       <option value="1">1 boite de 25 macarons</option>
	                                       <option value="2">2 boites de 50 macarons</option>
	                                    </select>
	                                 </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div>
                                       <a href="#">
                                          <img class="showCompositionAddCart" SRC="@{'/public/images/add-cart.jpg'}" ALT="" />
                                       </a>
                                    </div>
                                 </td>
                              </tr>
                           </table>
                        </td>
                        <td width="5%">
                           <img SRC="@{'/public/images/sr1.jpg'}" ALT="">
                        </td>
                        <td width="45%" valign="top">
                           <table BORDER="0" CELLPADDING="0" CELLSPACING="0">
                              <tr>
                                 <span class="compositionShortDescriptionTitle">Nos compositions :</span>
                              </tr>
                              #{if compositions.size()}
                                 <tr>
                                    <td>
                                       <div style="overflow: scroll; height: 250px; width: 400px">
                                          <table>
                                             <tr>
                                                <td>
                                                   #{list items:compositions, as:'composition'}
                                                      <table>
                                                         <tr onMouseOver="this.style.background='#f4f4f4'" onmouseout="this.style.background='#ffffff'" >
                                                            <td align="left" valign="top">
                                                               <img width="50px" height="50px" src="/public/images/${composition.picture}" title="${composition.shortDescription}">
                                                            </td>
                                                            <td align="left" valign="top">
                                                               <span class="compositionShortDescriptionTitle">
                                                                  ${composition.name}<br/>
                                                               </span>
                                                               <span class="compositionFullDescription">
                                                                  ${composition.shortDescription}
					                                                   <a href="@{Compositions.show(composition.id)}" class="a">
					                                                      Voir le détail
					                                                   </a>
                                                               </span>
                                                            </td>
                                                         </tr>
                                                      </table>
                                                   #{/list}
                                                </td>
                                             </tr>
                                          </table>
                                       </div>
                                    </td>
                                 </tr>
                              #{/if}
                              #{else}
                                 <tr>
                                    <td align="center">
                                       Pas de composition à afficher pour cette composition
                                    </td>
                                 </tr>
                              #{/else}
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>

         <table WIDTH="850px" BORDER="0" CELLPADDING="5" CELLSPACING="0">
            <tr>
               <td HEIGHT="40" align="center" valign="middle" BGCOLOR=#979076 class="text4">
                  <a href="#">Accueil</a> |
                  <a href="#">A propos de nous</a> |
                  <a href="#">Informations légales</a> |
                  <a href="#">Nous contacter</a>
               </td>
            </tr>
            <tr align="center">
               <td>Copyright © Macaron Factory</td>
            </tr>
         </table>
      </center>
   </BODY>
</HTML>
