body {
	margin-bottom: 0px;
	background-color: #FFFFFF;
}

td, textarea, input, select {
	font-family: Tahoma;
	font-size: 11px;
	color: 5c5c5c;
	font-weight: normal;
	line-height: 14px;
}

.frame {
	border: 1px solid #E8E9D7;
}

.compositionShortDescriptionTitle {
	font-family: tahoma;
	font-size: 12px;
	color: 9ea91c;
	font-weight: bold;
   line-height: 16px;
}

.compositionShortDescription {
   font-family: Tahoma;
   font-size: 12px;
   color: 5c5c5c;
   font-weight: normal;
   line-height: 16px;
}

.compositionFullDescriptionTitle {
   font-family: tahoma;
   font-size: 12px;
   color: 9ea91c;
   font-weight: bold;
   line-height: 16px;
}

.compositionFullDescription {
   font-family: Tahoma;
   font-size: 12px;
   color: 5c5c5c;
   font-weight: normal;
   line-height: 16px;
}

.compositionPrice {
   font-family: Tahoma;
   font-size: 12px;
   color: 5c5c5c;
   font-weight: bold;
   line-height: 16px;
}

.showCompositionPrice {
   font-family: Tahoma;
   font-size: 12px;
   color: 5c5c5c;
   font-weight: bold;
   line-height: 16px;
   background-color: b3b3b3;
   padding: 5px;
}

.showCompositionAddCart {
   margin-top: 0px;
   margin-bottom: 0px;
}

.eventDate {
   font-family: tahoma;
   font-size: 11px;
   color: 9ea91c;
   font-weight: bold;
   line-height: 16px;
}

.eventDescription {
   font-family: Tahoma;
   font-size: 11px;
   font-weight: normal;
   color: 5c5c5c;
   line-height: 16px;
}

.error {
    color: #c00;
    font-size: 80%;
}

.text2 {
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	color: 5c5c5c;
   line-height: 16px;
   text-align: justify;
}

.text3 {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: 9ea91c;
}

.text4 {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}

.footer {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 979076;
}

a:link {
	color: #FFFFFF;
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;

}

a:visited {
	color: #FFFFFF;
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}

a.a:link {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: 53534b;
	text-decoration: underline;
}

a.a:visited {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: b3b3b3;
	text-decoration: underline;
}

a.a:hover {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: 53534b;
	text-decoration: none;
}

a.b:link {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: 9ea91c;
	text-decoration: none;
}

a.b:visited {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: 9ea91c;
	text-decoration: none;
}

a.b:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: 9ea91c;
	text-decoration: underline;
}

a.c:link {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 71A2CB;
	text-decoration: none;
}

a.c:visited {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 71A2CB;
	text-decoration: none;
}

a.c:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 71A2CB;
	text-decoration: underline;
}

a.d:link {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}

a.d:visited {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}

a.d:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

a.e:link {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: 71A2CB;
	text-decoration: underline;
}

a.e:visited {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: 71A2CB;
	text-decoration: underline;
}

a.e:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #81992B;
	text-decoration: none;
}

a.f:link {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 898989;
	text-decoration: underline;
}

a.f:visited {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 898989;
	text-decoration: underline;
}

a.f:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #81992B;
	text-decoration: none;
}

a.g:link {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

a.g:visited {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

a.g:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: underline;
}

.inputstyle {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #5F726F;
	background-color: #E2EDEB;
	border: 1px solid #333333;
}
