#{extends 'main.html' /}
#{set title:'Page non trouv&eacute;e' /}

            <meta http-equiv="refresh" content="3; URL=@{Application.index()}">

            <table style="border-color: #cccccc; border-style: dotted; border-width: 1px; margin-top: 20px; margin-bottom: 20px" width="850px" cellpadding="5px" cellspacing="100px">
               <tr>
                  <td style="text-align: center; font-size: 24px">
                     Oops, la page demand&eacute;e est introuvable...
                  </td>
               </tr>
            </table>
