#{extends 'main2.html' /}
#{set title:'A propos' /}

            <table style="border-color: #9ea91c; border-style: solid; border-width: 1px; margin-top: 20px; margin-bottom: 20px" width="850px" cellpadding="5px" cellspacing="0px">
               <tr>
                  <td>
                     <p class="text2" style="text-align: justify">
                        <span class="text3">Macaron-Factory</span> est une micro-entreprise fond&eacute;e par des passionn&eacute;s de cuisine.
                     </p>
                     <p class="text2" style="text-align: justify">
                        Nous avons la conviction qu'il est possible de faire partager notre passion &agrave; nos clients via le bouche &agrave; oreille. Ce mode de
                        fonctionnement nous permet donc d'investir en partie dans la mati&egrave;re premi&egrave;re, afin de produire un r&eacute;sultat de qualit&eacute;.
                        Notre r&eacute;putation se fondant exclusivement sur votre publicit&eacute;, nous nous appliquons &agrave; ce que vous soyez pleinement satisfaits de nos produits.
                     </p>
                  </td>
               </tr>
               <tr>
                  <td class="text2" style="text-align: justify">
                     Nous voudrions profiter de cette opportunit&eacute; pour vous prouver que nous sommes dignes de confiance et que nous saurons vous offrir le meilleur service.
                  </td>
               </tr>
            </table>
