#{extends 'main.html' /}
#{set title:'Contact' /}

            <table style="border-color: #cccccc; border-style: dotted; border-width: 1px; margin-top: 20px; margin-bottom: 20px" width="850px" cellpadding="0px" cellspacing="5px">
               <tr>
                  <td>
                     <p class="text2" style="text-align: justify">
                        <span class="text3">Notre adresse :</span>
                        <span>
                           <p style="margin-left: 10px; margin-top: 5px">
                              11, rue Jean-Claude Mary<br/>
                              78300 Poissy
                           </p>
                        </span>
                     </p>
                  </td>
               </tr>
               <tr>
                  <td>
                     <p class="text2" style="text-align: justify">
                        <span class="text3">Par t&eacute;l&eacute;phone :</span>
                        <span>
                           <p style="margin-left: 10px; margin-top: 5px">
                              06 22 14 23 58
                           </p>
                        </span>
                     </p>
                  </td>
               </tr>
               <tr>
                  <td class="text2" style="text-align: justify">
                     <p class="text2" style="text-align: justify">
                        <span class="text3">Par email :</span>
                        <span>
                           <p style="margin-left: 10px; margin-top: 5px">
                              contact@macaron-factory.com
                           </p>
                        </span>
                     </p>
                  </td>
               </tr>
            </table>
