#{extends 'main.html' /}
#{set title:'Contact' /}

            <table style="border-color: #cccccc; border-style: dotted; border-width: 1px; margin-top: 20px; margin-bottom: 20px" width="850px" cellpadding="0px" cellspacing="5px">
               <tr valign="top" align="left">
                  <td width="33%" bgcolor="">
                     <div class="text2" style="text-align: center; margin-right: 0px">
                        <span class="text3">Adresse</span><br/>
                        <span style="margin-top: 5px">
                           11, rue Jean-Claude Mary<br/>
                           78300 Poissy
                        </span>
                     </div>
                  </td>
                  <td width="33%" bgcolor="">
                     <div class="text2" style="text-align: center; margin-right: 0px">
                        <span class="text3">Twitter</span><br/>
                        <span style="margin-top: 5px">
                           <a href="http://twitter.com/macaronfactory" target="_blank"  style="font-family: Tahoma; font-size: 12px; color: 5c5c5c; font-weight: normal; line-height: 14px;">twitter.com/macaronfactory.com</a>
                        </span>
                     </div>
                  </td>
                  <td width="33%" bgcolor="">
                     <div class="text2" style="text-align: center; margin-right: 0px">
                        <span class="text3">T&eacute;l&eacute;phone</span><br/>
                        <span style="margin-top: 5px">
                           06 22 14 23 58
                        </span>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td colspan="3">
                     <hr style="border-width: 1px; border-color: #cccccc; border-style: dotted" width="90%"/>
                  </td>
               </tr>
               <tr>
                  <td align="center" colspan="3">
                     <p style="font-size: 12px">
                        #{if flash.success}
                           <strong>Votre message a bien &eacute;t&eacute; pris en compte, nous vous contacterons dans les plus bref d&eacute;lais</strong>
                        #{/if}
                        #{else}
                           Si vous souhaitez plus d'informations sur nos produits, vous pouvez nous contacter en remplissant le formulaire suivant :
                        #{/else}
                     </p>
                  </td>
               </tr>

               #{form @sendMessage()}
               <tr>
                  <td colspan="3" align="center">
		               <table style="margin-top: 10px">
                        #{field 'contact.shortname'}
                        <tr style="height: 35px">
                           <td style="font-size: 13px" align="right">
                              <strong style="margin: 5px">Pr&eacute;nom</strong>
                           </td>
                           <td>
                              <input type="text" name="${field.name}" style="width: 250px; height: 25px; font-size: 12px" value="${contact?.shortname}"/>
                           </td>
                           <td>
                              &nbsp;
                           </td>
                        </tr>
                        #{/field}
                        #{field 'contact.fullname'}
                        <tr style="height: 35px">
                           <td style="font-size: 13px" align="right">
                              <strong style="margin: 5px">Nom</strong>
                           </td>
                           <td>
                              <input type="text" name="${field.name}" style="width: 250px; height: 25px; font-size: 12px" value="${contact?.fullname}"/>
                           </td>
                           <td>
                              &nbsp;
                           </td>
                        </tr>
                        #{/field}
                        #{field 'contact.email'}
		                  <tr style="height: 35px">
		                     <td style="font-size: 13px" align="right">
		                        <strong style="margin: 5px">Email</strong>
		                     </td>
		                     <td>
                              #{if field.error}
                                 <span class="error">${field.error}</span><br/>
                              #{/if}
		                        <input type="text" name="${field.name}" style="width: 250px; height: 25px; font-size: 12px" value="${contact?.email}"/>
		                     </td>
                           <td>
                              *
                           </td>
		                  </tr>
                        #{/field}
                        #{field 'contact.message'}
                        <tr style="height: 35px">
                           <td style="font-size: 13px" align="right">
                              <strong style="margin: 5px">Message</strong>
                           </td>
                           <td>
                              #{if field.error}
                                 <span class="error">${field.error}</span><br/>
                              #{/if}
                              <textarea name="${field.name}" style="width: 250px; font-size: 12px" rows="5">${contact?.message}</textarea>
                           </td>
                           <td>
                              *
                           </td>
                        </tr>
                        #{/field}
                        <tr>
                           <td colspan="2" align="right">
                              <a href="#">
                                 <input type="submit" value="Envoyer">
                              </a>
                           </td>
                           <td>
                              &nbsp;
                           </td>
                        </tr>
		               </table>
	               </td>
               </tr>
               #{/form}
            </table>
