#{extends 'main.html' /}
#{set title:'Accueil' /}

         <table>
            <tr>
               <td>
                  <table WIDTH="850px" BORDER="0" CELLPADDING="5" CELLSPACING="0">
                     <tr>
                        <td width="25%" valign="top">
                           <table BORDER="0" CELLPADDING="5" CELLSPACING="0">
                              <tr>
                                 <th align="left" colspan="3" style="border-bottom-width: 1px; border-bottom-color: #cccccc; border-bottom-style: dotted">
                                    <img src="@{'/public/images/nw1.jpg'}" width="235px" height="25px" alt=""/>
                                 </th>
                              </tr>
                              #{if events.size()}
                                 <!-- begin of events loop -->
                                 #{list items:events, as:'event'}
                                    <tr id="event">
                                       <td width="20%" align="right" valign="top" >
                                          <img src="@{'/public/images/dot-grey.jpg'}" alt=""/>
                                       </td>
                                       <td width="60%" align="left">
                                          <span class="eventDate">${event.date.format("dd-MM-yyyy")}</span><br/>
                                          <span class="eventDescription">${URLDecoder.decode(event.description, 'UTF-8')}</span><br/>
                                       </td>
                                       <td width="20%">
                                          <img src="@{'/public/images/spacer.gif'}" alt="">
                                       </td>
                                    </tr>
                                 #{/list}
                                 <!-- end of events loop -->
                                 <tr>
                                    <td colspan="3" align="right">
                                       <!--a href="#" class="a">Plus d'&eacute;v&eacute;nements</a-->
                                    </td>
                                 </tr>
                              #{/if}
                              #{else}
                                 <tr>
                                    <td colspan="3" align="center">
                                       Pas d'&eacute;v&eacute;nement &agrave; afficher
                                    </td>
                                 </tr>
                              #{/else}
                           </table>
                        </td>
                        <td width="1%" style="border-right-width: 1px; border-right-color: #cccccc; border-right-style: dotted">
                           &nbsp;
                        </td>
                        <td>
                           &nbsp;
                        </td>
                        <td width="70%" valign="top">
                           <table cellpadding="5px" cellspacing="0px">
                              <!-- display 2 randomized compositions -->
                              <tr>
                                 <th align="left" colspan="2" style="border-bottom-width: 1px; border-bottom-color: #cccccc; border-bottom-style: dotted">
                                    <img src="@{'/public/images/sr2.jpg'}" alt="" />
                                 </th>
                              </tr>
                              <tr>
                                 #{if compositions.size()}
                                    <!-- begin of composition loop -->
                                    #{list items:compositions, as:'composition'}
                                       <td id="composition" width="50%px" valign="top">
                                          <table border="0" width="100%" height="100%" cellpadding="5px">
                                             <tr height="80%" valign="top">
                                                <td valign="top">
                                                   <img src="/public/images/${composition.picture}" title="${composition.shortDescription}" align="left">
                                                   <span class="compositionShortDescriptionTitle">${composition.name}</span><br/>
                                                   <span class="compositionFullDescription">${composition.fullDescription}</span>
                                                </td>
                                             </tr>
                                             <tr height="10%" valign="top">
                                                <td>
                                                   <span class="showCompositionPrice">Prix: ${new java.text.DecimalFormat("###.00").format(composition.price)} EUR/25 macarons (500g)</span>
                                                </td>
                                             </tr>
                                             <tr height="10%" valign="top">
                                                <td>
                                                   <a href="@{Compositions.show(composition.id)}" class="a">
                                                      Voir le d&eacute;tail
                                                   </a>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    #{/list}
                                    <!-- end of composition loop -->
                                 #{/if}
                                 #{else}
                                    <tr>
                                       <td colspan="3" align="center">
                                          Pas de composition &agrave; afficher
                                       </td>
                                    </tr>
                                 #{/else}
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
