<html>
   <head>
      <title>Bienvenue chez Macaron-Factory</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <script TYPE="text/javascript">
         <!--
         function newImage(arg) {
            if (document.images) {
            rslt = new Image();
               rslt.src = arg;
               return rslt;
            }
         }

         function changeImages() {
            if (document.images && (preloadFlag == true)) {
               for (var i=0; i<changeImages.arguments.length; i+=2) {
                  document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
               }
            }
         }

         var preloadFlag = false;
         function preloadImages() {
            if (document.images) {
               home_page_over = newImage("@{'/public/images/home-page-over.jpg'}");
               about_us_over = newImage("@{'/public/images/about-us-over.jpg'}");
               products_over = newImage("@{'/public/images/products-over.jpg'}");
               contacts_over = newImage("@{'/public/images/contacts-over.jpg'}");
               preloadFlag = true;
            }
         }
         // -->
      </script>
      <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/mf.css'}">
   </head>

   <body>
      <center>
	      <div id="header">
	         <table width="850px" cellpadding="0" cellspacing="0">
	            <tr height="60px" align="center">
	               <td>
	                  <a href="@{Application.index}" onmouseover="window.status='home page'; changeImages('home_page', '@{'/public/images/home-page-over.jpg'}'); return true;" onmouseout="window.status=''; changeImages('home_page', '@{'/public/images/home-page.jpg'}'); return true;">
	                     <img name="home_page" src="@{'/public/images/home-page.jpg'}" width="95px" height="40px" border="0px" alt="Accueil" />
	                  </a>
	               </td>
	               <td>
	                  <a href="@{Compositions.index}" onmouseover="window.status='products'; changeImages('products', '@{'/public/images/products-over.jpg'}'); return true;" onmouseout="window.status=''; changeImages('products', '@{'/public/images/products.jpg'}'); return true;">
	                     <img name="products" src="@{'/public/images/products.jpg'}" width="95px" height="40px" border="0px" alt="Produits" />
	                  </a>
	               </td>
	               <td>
	                  <a href="@{About.index}" onmouseover="window.status='about us'; changeImages('about_us', '@{'/public/images/about-us-over.jpg'}'); return true;" onmouseout="window.status=''; changeImages('about_us', '@{'/public/images/about-us.jpg'}'); return true;">
	                     <IMG NAME="about_us" src="@{'/public/images/about-us.jpg'}" width="95px" height="40px" border="0px" alt="A propos">
	                  </a>
	               </td>
	               <td>
	                  <a href="@{Contact.index}" onmouseover="window.status='contacts'; changeImages('contacts', '@{'/public/images/contacts-over.jpg'}'); return true;" onmouseout="window.status=''; changeImages('contacts', '@{'/public/images/contacts.jpg'}'); return true;">
	                     <img name="contacts" src="@{'/public/images/contacts.jpg'}" width="95px" height="40px" border="0px" alt="Contact"/>
	                  </a>
	               </td>
	            </tr>
	         </table>
	
	         <table id="main" width="850px" border="0" cellpadding="0" cellspacing="0">
	            <tr id="title" align="center">
	               <td>
	                  <table width="780px" border="0" cellpadding="0" cellspacing="0">
	                     <tr>
	                        <td>
	                           <img src="@{'/public/images/m2.jpg'}" width="425px" height="228px" alt=""/>
	                        </td>
	                        <td>
	                           <table width="350px">
	                              <tr>
	                                 <td width="300px">
	                                    <img src="@{'/public/images/m3.jpg'}" width="350px" height="120px" alt=""/>
	                                 </td>
	                              </tr>
	                              <tr>
	                                 <td class="text2" width="300px">
	                                    <span class="text3">Imaginez une farandole de macarons,</span> aux parfums des plus classiques aux plus insolites. Notre gamme s'étend sur plus de trente variétés de produits différents. Le macaron étant pour nous une passion, nous nous efforçons de produire un met de qualité et investissons dans le meilleur de la matière première.<br/>
	                                 </td>
	                              </tr>
	                              <tr>
	                                 <td width="300px">
	                                    <a href="#" class="a">En savoir plus</a>
	                                 </td>
	                              </tr>
	                           </table>
	                        </td>
	                     </tr>
	                  </table>
	               </td>
	            </tr>
	         </table>
	      </div>

         <div id="content">
            #{doLayout /} 
         </div>

	      <div id="footer">
	         <table width="850px" border="0px" cellpadding="5px" cellspacing="0px">
	            <tr>
	               <td height="40px" align="center" valign="middle" bgcolor=#979076 class="text4">
	                  <a href="@{Application.index}">Accueil</a> |
	                  <a href="@{Compositions.index}">Produits</a> |
	                  <a href="@{About.index}">A Propos</a> |
	                  <a href="#">Nous contacter</a>
	               </td>
	            </tr>
	            <tr align="center">
	               <td>Copyright © Macaron Factory</td>
	            </tr>
	         </table>
	      </div>
      </center>
   </body>
</html>
